* {
    box-sizing: border-box;
}

alert-component {
    position: absolute;

    top: 3%;
    left: 50%;
    transform: translate(-50%);

    max-width: 600px;
    max-height: 150px;
    min-width: 250px;
    min-height: 80px;

    padding: 10px;
    border-radius: 8px;
    text-align: center;
}     

.btn {
    position: absolute;
    top: 65%;
    left: 82%;

    width: 40px;
    height: 25px;

    border: 0;
    border-radius: 8px;
    background-color: #408aec;
    color:#e7e7f8;
}